<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>add-habitat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">add-habitat</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="goHome()">HOME</ion-button>
  <ion-button (click)="gotoMyHabitats()">HABITATS LIST</ion-button>

  <div>
    <form [formGroup]="habitatForm" (ngSubmit)="addHabitatForm()">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input formControlName="nombre" label="Nombre: " type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input formControlName="monstruo" label="Monstruo: " type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input formControlName="mineral" label="Mineral: " type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button type="submit" [disabled]="habitatForm.invalid">AÑADIR</ion-button>
    </form>
  </div>
</ion-content>
